body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}


.header-logo {
    width: 100%;
    height: 100%;
}

.header-logo img {
    margin-left: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 30%;
    height: 30%;
    object-fit: contain;
}

.headline {
    width: 100%;
    height: auto;
}

.headline img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.description {
    width: 100%;
    height: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.description p {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: xx-large;
    font-family: 'Roboto', sans-serif;
    color: #000;
}

.full-width-module {
    width: 100%;
    height: 100%;
}

.full-width-module img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

.half-width-module {
    width: 95%;
    height: 100%;
    margin: auto;
    margin-top: 2%;
    display: flex;
}

.half-width-module a {
    width: 50%;
    height: 100%;
}

.half-width-module img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.half-width-module p {
    padding-left: 2%;
    width: 50%;
    font-size: xx-large;
    font-family: 'Roboto', sans-serif;
    color: #000;
}

#right-half-module-p {
    padding-left: 0%;
}

.social-media {
    width: 100%;
    height: 100%;
}

.social-media img {
    display: block;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    object-fit: cover;
}

.footer {
    margin-top: 2%;
    width: 100%;
    height: 100%;
    background: #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10%;
}

.footer img {
    padding-top: 5%;
    display: block;
    width: 10%;
    height: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

.footer p {
    display: block;
    width: auto;
    margin-top: 2%;
    font-size: x-large;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    color: #3e0e0e;
}

.footer span {
    color: #3166d0;
}

#footer-addr {
    font-style: normal;
}

@media (max-width: 850px) {
    body {
        width: 100vh;
    }

    .description p {
        font-size: 1.4em;
    }

    .headline {
        background-image: url("images/MOBILE_HDR_1.png");
    }

    .half-width-module p {
        font-size: 1.4em;
    }

    .footer p {
        width: 70;
        font-size: 1.1em;
    }
}